*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000000;
}

header {
    background-color: #181818;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f2f2f2;
}

.interface a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 24px;
}

.nav-desktop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-desktop ul li {
    margin: 0 20px;
}

.nav-desktop ul li:first-child {
    margin-left: 0;
}

.nav-desktop ul li:last-child {
    margin-right: 0;
}

.nav-desktop ul li a {
    text-decoration: none;
    color: #f2f2f2;
    font-size: 18px;
}

.btn-contato button {
    background-color: #002daa;
    border: none;
    color: #f2f2f2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.container {
    display: flex;
}

.square {
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 100%; /* Garante que o container ocupe toda a largura disponível */
}

.seletor {
    flex: 1; /* Faz com que o seletor ocupe todo o espaço disponível */
    max-width: 20%; /* Define a largura máxima do seletor */
    padding: 20px;
    box-sizing: border-box;
    background-color: #181818;
}

.lista-aulas {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.option {
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;

}

.aulas{
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.conteudo-aulas {
    flex: 1; /* Faz com que o conteúdo das aulas ocupe todo o espaço disponível */
    padding: 20px;
    box-sizing: border-box;
}

.titulo{
    text-align: center;
    color: #f2f2f2;
}

h2{
    margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6, p {
    color: #f2f2f2;
}

.center {
    text-align: center;
}

.tab{
    margin-left: 5%;
}

.code{
    border: 1px solid black;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(209, 209, 209)
}

.flex{
    display: flex;
    align-self: start;
}
